<h3><i class="fas fa-fist-raised"></i> 戦闘技能</h3>
<ul>
    <li class="d-flex skill-li skill-head">
        <div class="growth">成長</div>
        <div class="title">技能名</div>
        <div class="total">合計<span class="pc-only">値</span></div>
        <div class="breakdown"><span class="pc-only">初期値</span><span class="sp-only">初期</span>|<span
                class="pc-only">職業P</span><span class="sp-only">職業</span>|<span class="pc-only">興味P</span><span
                class="sp-only">興味</span>|<span>成長</span>|<span class="pc-only">その他</span><span class="sp-only">他</span>
        </div>
    </li>
    <li class="d-flex skill-li skill-body">
        <input type="checkbox" name="check-growth" class="check-growth">
        <div class="title">回避</div>
        <div class="total">
            <input type="number" name="dodge_total" class="readonly _02" readonly>
        </div>
        <div class="breakdown">
            <span class="initial">
                <input type="number" name="dodge_initial" class="readonly _02" readonly>
            </span>|<span class="atai">
                <input type="number" name="dodge_job" oninput="updateSkillTotal('dodge')">
            </span>|<span class="atai">
                <input type="number" name="dodge_interest" oninput="updateSkillTotal('dodge')">
            </span>|<span class="atai">
                <input type="number" name="dodge_growth" oninput="updateSkillTotal('dodge')">
            </span>|<span class="atai">
                <input type="number" name="dodge_other" oninput="updateSkillTotal('dodge')">
            </span>
        </div>
    </li>
    <li class="d-flex skill-li skill-body">
        <input type="checkbox" name="check-growth" class="check-growth">
        <div class="title">キック</div>
        <div class="total">
            <input type="number" name="kick_total" class="readonly _02" readonly>
        </div>
        <div class="breakdown">
            <span class="initial">
                <input type="number" name="kick_initial" class="readonly _02" readonly value="25">
            </span>|<span class="atai">
                <input type="number" name="kick_job" oninput="updateSkillTotal('kick')">
            </span>|<span class="atai">
                <input type="number" name="kick_interest" oninput="updateSkillTotal('kick')">
            </span>|<span class="atai">
                <input type="number" name="kick_growth" oninput="updateSkillTotal('kick')">
            </span>|<span class="atai">
                <input type="number" name="kick_other" oninput="updateSkillTotal('kick')">
            </span>
        </div>
    </li>
    <li class="d-flex skill-li skill-body">
        <input type="checkbox" name="check-growth" class="check-growth">
        <div class="title">組み付き</div>
        <div class="total">
            <input type="number" name="grapple_total" class="readonly _02" readonly>
        </div>
        <div class="breakdown">
            <span class="initial">
                <input type="number" name="grapple_initial" class="readonly _02" readonly value="25">
            </span>|<span class="atai">
                <input type="number" name="grapple_job" oninput="updateSkillTotal('grapple')">
            </span>|<span class="atai">
                <input type="number" name="grapple_interest" oninput="updateSkillTotal('grapple')">
            </span>|<span class="atai">
                <input type="number" name="grapple_growth" oninput="updateSkillTotal('grapple')">
            </span>|<span class="atai">
                <input type="number" name="grapple_other" oninput="updateSkillTotal('grapple')">
            </span>
        </div>
    </li>
    <li class="d-flex skill-li skill-body">
        <input type="checkbox" name="check-growth" class="check-growth">
        <div class="title">こぶし</div>
        <div class="total">
            <input type="number" name="punch_total" class="readonly _02" readonly>
        </div>
        <div class="breakdown">
            <span class="initial">
                <input type="number" name="punch_initial" class="readonly _02" readonly value="50">
            </span>|<span class="atai">
                <input type="number" name="punch_job" oninput="updateSkillTotal('punch')">
            </span>|<span class="atai">
                <input type="number" name="punch_interest" oninput="updateSkillTotal('punch')">
            </span>|<span class="atai">
                <input type="number" name="punch_growth" oninput="updateSkillTotal('punch')">
            </span>|<span class="atai">
                <input type="number" name="punch_other" oninput="updateSkillTotal('punch')">
            </span>
        </div>
    </li>
    <li class="d-flex skill-li skill-body">
        <input type="checkbox" name="check-growth" class="check-growth">
        <div class="title">頭突き</div>
        <div class="total">
            <input type="number" name="headbutt_total" class="readonly _02" readonly>
        </div>
        <div class="breakdown">
            <span class="initial">
                <input type="number" name="headbutt_initial" class="readonly _02" readonly value="10">
            </span>|<span class="atai">
                <input type="number" name="headbutt_job" oninput="updateSkillTotal('headbutt')">
            </span>|<span class="atai">
                <input type="number" name="headbutt_interest" oninput="updateSkillTotal('headbutt')">
            </span>|<span class="atai">
                <input type="number" name="headbutt_growth" oninput="updateSkillTotal('headbutt')">
            </span>|<span class="atai">
                <input type="number" name="headbutt_other" oninput="updateSkillTotal('headbutt')">
            </span>
        </div>
    </li>
    <li class="d-flex skill-li skill-body">
        <input type="checkbox" name="check-growth" class="check-growth">
        <div class="title">投擲</div>
        <div class="total">
            <input type="number" name="throw_total" class="readonly _02" readonly>
        </div>
        <div class="breakdown">
            <span class="initial">
                <input type="number" name="throw_initial" class="readonly _02" readonly value="25">
            </span>|<span class="atai">
                <input type="number" name="throw_job" oninput="updateSkillTotal('throw')">
            </span>|<span class="atai">
                <input type="number" name="throw_interest" oninput="updateSkillTotal('throw')">
            </span>|<span class="atai">
                <input type="number" name="throw_growth" oninput="updateSkillTotal('throw')">
            </span>|<span class="atai">
                <input type="number" name="throw_other" oninput="updateSkillTotal('throw')">
            </span>
        </div>
    </li>
    <li class="d-flex skill-li skill-body">
        <input type="checkbox" name="check-growth" class="check-growth">
        <div class="title">マーシャルアーツ</div>
        <div class="total">
            <input type="number" name="martial_arts_total" class="readonly _02" readonly>
        </div>
        <div class="breakdown">
            <span class="initial">
                <input type="number" name="martial_arts_initial" class="readonly _02" readonly value="1">
            </span>|<span class="atai">
                <input type="number" name="martial_arts_job" oninput="updateSkillTotal('martial_arts')">
            </span>|<span class="atai">
                <input type="number" name="martial_arts_interest" oninput="updateSkillTotal('martial_arts')">
            </span>|<span class="atai">
                <input type="number" name="martial_arts_growth" oninput="updateSkillTotal('martial_arts')">
            </span>|<span class="atai">
                <input type="number" name="martial_arts_other" oninput="updateSkillTotal('martial_arts')">
            </span>
        </div>
    </li>
    <li class="d-flex skill-li skill-body">
        <input type="checkbox" name="check-growth" class="check-growth">
        <div class="title">拳銃</div>
        <div class="total">
            <input type="number" name="handgun_total" class="readonly _02" readonly>
        </div>
        <div class="breakdown">
            <span class="initial">
                <input type="number" name="handgun_initial" class="readonly _02" readonly value="20">
            </span>|<span class="atai">
                <input type="number" name="handgun_job" oninput="updateSkillTotal('handgun')">
            </span>|<span class="atai">
                <input type="number" name="handgun_interest" oninput="updateSkillTotal('handgun')">
            </span>|<span class="atai">
                <input type="number" name="handgun_growth" oninput="updateSkillTotal('handgun')">
            </span>|<span class="atai">
                <input type="number" name="handgun_other" oninput="updateSkillTotal('handgun')">
            </span>
        </div>
    </li>
    <li class="d-flex skill-li skill-body">
        <input type="checkbox" name="check-growth" class="check-growth">
        <div class="title">サブマシンガン</div>
        <div class="total">
            <input type="number" name="submachine_gun_total" class="readonly _02" readonly>
        </div>
        <div class="breakdown">
            <span class="initial">
                <input type="number" name="submachine_gun_initial" class="readonly _02" readonly value="15">
            </span>|<span class="atai">
                <input type="number" name="submachine_gun_job" oninput="updateSkillTotal('submachine_gun')">
            </span>|<span class="atai">
                <input type="number" name="submachine_gun_interest" oninput="updateSkillTotal('submachine_gun')">
            </span>|<span class="atai">
                <input type="number" name="submachine_gun_growth" oninput="updateSkillTotal('submachine_gun')">
            </span>|<span class="atai">
                <input type="number" name="submachine_gun_other" oninput="updateSkillTotal('submachine_gun')">
            </span>
        </div>
    </li>

    <li class="d-flex skill-li skill-body">
        <input type="checkbox" name="check-growth" class="check-growth">
        <div class="title">ショットガン</div>
        <div class="total">
            <input type="number" name="shotgun_total" class="readonly _02" readonly>
        </div>
        <div class="breakdown">
            <span class="initial">
                <input type="number" name="shotgun_initial" class="readonly _02" readonly value="30">
            </span>|<span class="atai">
                <input type="number" name="shotgun_job" oninput="updateSkillTotal('shotgun')">
            </span>|<span class="atai">
                <input type="number" name="shotgun_interest" oninput="updateSkillTotal('shotgun')">
            </span>|<span class="atai">
                <input type="number" name="shotgun_growth" oninput="updateSkillTotal('shotgun')">
            </span>|<span class="atai">
                <input type="number" name="shotgun_other" oninput="updateSkillTotal('shotgun')">
            </span>
        </div>
    </li>

    <li class="d-flex skill-li skill-body">
        <input type="checkbox" name="check-growth" class="check-growth">
        <div class="title">マシンガン</div>
        <div class="total">
            <input type="number" name="machine_gun_total" class="readonly _02" readonly>
        </div>
        <div class="breakdown">
            <span class="initial">
                <input type="number" name="machine_gun_initial" class="readonly _02" readonly value="15">
            </span>|<span class="atai">
                <input type="number" name="machine_gun_job" oninput="updateSkillTotal('machine_gun')">
            </span>|<span class="atai">
                <input type="number" name="machine_gun_interest" oninput="updateSkillTotal('machine_gun')">
            </span>|<span class="atai">
                <input type="number" name="machine_gun_growth" oninput="updateSkillTotal('machine_gun')">
            </span>|<span class="atai">
                <input type="number" name="machine_gun_other" oninput="updateSkillTotal('machine_gun')">
            </span>
        </div>
    </li>

    <li class="d-flex skill-li skill-body">
        <input type="checkbox" name="check-growth" class="check-growth">
        <div class="title">ライフル</div>
        <div class="total">
            <input type="number" name="rifle_total" class="readonly _02" readonly>
        </div>
        <div class="breakdown">
            <span class="initial">
                <input type="number" name="rifle_initial" class="readonly _02" readonly value="25">
            </span>|<span class="atai">
                <input type="number" name="rifle_job" oninput="updateSkillTotal('rifle')">
            </span>|<span class="atai">
                <input type="number" name="rifle_interest" oninput="updateSkillTotal('rifle')">
            </span>|<span class="atai">
                <input type="number" name="rifle_growth" oninput="updateSkillTotal('rifle')">
            </span>|<span class="atai">
                <input type="number" name="rifle_other" oninput="updateSkillTotal('rifle')">
            </span>
        </div>
    </li>
    <!-- 追加戦闘技能の動的リスト -->
    <span id="additional-combat-skills">
        <!-- 動的に追加される戦闘技能がここに表示されます -->
    </span>
</ul>
<!-- 追加戦闘技能の管理ボタン -->
<button type="button" onclick="addCombatSkill()" class="add-btn">
    <i class="fas fa-plus"></i> 戦闘技能を追加
</button>