<h3><i class="fas fa-search"></i> 探索技能</h3>
<ul>
    <li class="d-flex skill-li skill-head">
        <div class="growth">成長</div>
        <div class="title">技能名</div>
        <div class="total">合計<span class="pc-only">値</span></div>
        <div class="breakdown"><span class="pc-only">初期値</span><span class="sp-only">初期</span>|<span
                class="pc-only">職業P</span><span class="sp-only">職業</span>|<span class="pc-only">興味P</span><span
                class="sp-only">興味</span>|<span>成長</span>|<span class="pc-only">その他</span><span class="sp-only">他</span>
        </div>
    </li>
    <li class="d-flex skill-li skill-body">
        <input type="checkbox" name="check-growth" class="check-growth">
        <div class="title">応急手当</div>
        <div class="total">
            <input type="number" name="first_aid_total" class="readonly _02" readonly>
        </div>
        <div class="breakdown">
            <span class="initial">
                <input type="number" name="first_aid_initial" class="readonly _02" readonly value="30">
            </span>|<span class="atai">
                <input type="number" name="first_aid_job"
                    oninput="updateSkillTotal('first_aid'); updateJobPointsUsed();">
            </span>|<span class="atai">
                <input type="number" name="first_aid_interest"
                    oninput="updateSkillTotal('first_aid'); updateInterestPointsUsed();">
            </span>|<span class="atai">
                <input type="number" name="first_aid_growth" oninput="updateSkillTotal('first_aid')">
            </span>|<span class="atai">
                <input type="number" name="first_aid_other" oninput="updateSkillTotal('first_aid')">
            </span>
        </div>
    </li>
    <li class="d-flex skill-li skill-body">
        <input type="checkbox" name="check-growth" class="check-growth">
        <div class="title">鍵開け</div>
        <div class="total">
            <input type="number" name="locksmith_total" class="readonly _02" readonly>
        </div>
        <div class="breakdown">
            <span class="initial">
                <input type="number" name="locksmith_initial" class="readonly _02" readonly value="1">
            </span>|<span class="atai">
                <input type="number" name="locksmith_job"
                    oninput="updateSkillTotal('locksmith'); updateJobPointsUsed();">
            </span>|<span class="atai">
                <input type="number" name="locksmith_interest"
                    oninput="updateSkillTotal('locksmith'); updateInterestPointsUsed();">
            </span>|<span class="atai">
                <input type="number" name="locksmith_growth" oninput="updateSkillTotal('locksmith')">
            </span>|<span class="atai">
                <input type="number" name="locksmith_other" oninput="updateSkillTotal('locksmith')">
            </span>
        </div>
    </li>
    <li class="d-flex skill-li skill-body">
        <input type="checkbox" name="check-growth" class="check-growth">
        <div class="title">隠す</div>
        <div class="total">
            <input type="number" name="conceal_total" class="readonly _02" readonly>
        </div>
        <div class="breakdown">
            <span class="initial">
                <input type="number" name="conceal_initial" class="readonly _02" readonly value="15">
            </span>|<span class="atai">
                <input type="number" name="conceal_job" oninput="updateSkillTotal('conceal'); updateJobPointsUsed();">
            </span>|<span class="atai">
                <input type="number" name="conceal_interest"
                    oninput="updateSkillTotal('conceal'); updateInterestPointsUsed();">
            </span>|<span class="atai">
                <input type="number" name="conceal_growth" oninput="updateSkillTotal('conceal')">
            </span>|<span class="atai">
                <input type="number" name="conceal_other" oninput="updateSkillTotal('conceal')">
            </span>
        </div>
    </li>
    <li class="d-flex skill-li skill-body">
        <input type="checkbox" name="check-growth" class="check-growth">
        <div class="title">隠れる</div>
        <div class="total">
            <input type="number" name="hide_total" class="readonly _02" readonly>
        </div>
        <div class="breakdown">
            <span class="initial">
                <input type="number" name="hide_initial" class="readonly _02" readonly value="10">
            </span>|<span class="atai">
                <input type="number" name="hide_job" oninput="updateSkillTotal('hide'); updateJobPointsUsed();">
            </span>|<span class="atai">
                <input type="number" name="hide_interest"
                    oninput="updateSkillTotal('hide'); updateInterestPointsUsed();">
            </span>|<span class="atai">
                <input type="number" name="hide_growth" oninput="updateSkillTotal('hide')">
            </span>|<span class="atai">
                <input type="number" name="hide_other" oninput="updateSkillTotal('hide')">
            </span>
        </div>
    </li>
    <li class="d-flex skill-li skill-body">
        <input type="checkbox" name="check-growth" class="check-growth">
        <div class="title">聞き耳</div>
        <div class="total">
            <input type="number" name="listen_total" class="readonly _02" readonly>
        </div>
        <div class="breakdown">
            <span class="initial">
                <input type="number" name="listen_initial" class="readonly _02" readonly value="25">
            </span>|<span class="atai">
                <input type="number" name="listen_job" oninput="updateSkillTotal('listen'); updateJobPointsUsed();">
            </span>|<span class="atai">
                <input type="number" name="listen_interest"
                    oninput="updateSkillTotal('listen'); updateInterestPointsUsed();">
            </span>|<span class="atai">
                <input type="number" name="listen_growth" oninput="updateSkillTotal('listen')">
            </span>|<span class="atai">
                <input type="number" name="listen_other" oninput="updateSkillTotal('listen')">
            </span>
        </div>
    </li>

    <li class="d-flex skill-li skill-body">
        <input type="checkbox" name="check-growth" class="check-growth">
        <div class="title">忍び歩き</div>
        <div class="total">
            <input type="number" name="sneak_total" class="readonly _02" readonly>
        </div>
        <div class="breakdown">
            <span class="initial">
                <input type="number" name="sneak_initial" class="readonly _02" readonly value="10">
            </span>|<span class="atai">
                <input type="number" name="sneak_job" oninput="updateSkillTotal('sneak'); updateJobPointsUsed();">
            </span>|<span class="atai">
                <input type="number" name="sneak_interest"
                    oninput="updateSkillTotal('sneak'); updateInterestPointsUsed();">
            </span>|<span class="atai">
                <input type="number" name="sneak_growth" oninput="updateSkillTotal('sneak')">
            </span>|<span class="atai">
                <input type="number" name="sneak_other" oninput="updateSkillTotal('sneak')">
            </span>
        </div>
    </li>

    <li class="d-flex skill-li skill-body">
        <input type="checkbox" name="check-growth" class="check-growth">
        <div class="title">写真術</div>
        <div class="total">
            <input type="number" name="photography_total" class="readonly _02" readonly>
        </div>
        <div class="breakdown">
            <span class="initial">
                <input type="number" name="photography_initial" class="readonly _02" readonly value="10">
            </span>|<span class="atai">
                <input type="number" name="photography_job"
                    oninput="updateSkillTotal('photography'); updateJobPointsUsed();">
            </span>|<span class="atai">
                <input type="number" name="photography_interest"
                    oninput="updateSkillTotal('photography'); updateInterestPointsUsed();">
            </span>|<span class="atai">
                <input type="number" name="photography_growth" oninput="updateSkillTotal('photography')">
            </span>|<span class="atai">
                <input type="number" name="photography_other" oninput="updateSkillTotal('photography')">
            </span>
        </div>
    </li>
    <li class="d-flex skill-li skill-body">
        <input type="checkbox" name="check-growth" class="check-growth">
        <div class="title">精神分析</div>
        <div class="total">
            <input type="number" name="psychoanalysis_total" class="readonly _02" readonly>
        </div>
        <div class="breakdown">
            <span class="initial">
                <input type="number" name="psychoanalysis_initial" class="readonly _02" readonly value="1">
            </span>|<span class="atai">
                <input type="number" name="psychoanalysis_job"
                    oninput="updateSkillTotal('psychoanalysis'); updateJobPointsUsed();">
            </span>|<span class="atai">
                <input type="number" name="psychoanalysis_interest"
                    oninput="updateSkillTotal('psychoanalysis'); updateInterestPointsUsed();">
            </span>|<span class="atai">
                <input type="number" name="psychoanalysis_growth" oninput="updateSkillTotal('psychoanalysis')">
            </span>|<span class="atai">
                <input type="number" name="psychoanalysis_other" oninput="updateSkillTotal('psychoanalysis')">
            </span>
        </div>
    </li>
    <li class="d-flex skill-li skill-body">
        <input type="checkbox" name="check-growth" class="check-growth">
        <div class="title">追跡</div>
        <div class="total">
            <input type="number" name="track_total" class="readonly _02" readonly>
        </div>
        <div class="breakdown">
            <span class="initial">
                <input type="number" name="track_initial" class="readonly _02" readonly value="10">
            </span>|<span class="atai">
                <input type="number" name="track_job" oninput="updateSkillTotal('track'); updateJobPointsUsed();">
            </span>|<span class="atai">
                <input type="number" name="track_interest"
                    oninput="updateSkillTotal('track'); updateInterestPointsUsed();">
            </span>|<span class="atai">
                <input type="number" name="track_growth" oninput="updateSkillTotal('track')">
            </span>|<span class="atai">
                <input type="number" name="track_other" oninput="updateSkillTotal('track')">
            </span>
        </div>
    </li>

    <li class="d-flex skill-li skill-body">
        <input type="checkbox" name="check-growth" class="check-growth">
        <div class="title">登攀</div>
        <div class="total">
            <input type="number" name="climb_total" class="readonly _02" readonly>
        </div>
        <div class="breakdown">
            <span class="initial">
                <input type="number" name="climb_initial" class="readonly _02" readonly value="40">
            </span>|<span class="atai">
                <input type="number" name="climb_job" oninput="updateSkillTotal('climb'); updateJobPointsUsed();">
            </span>|<span class="atai">
                <input type="number" name="climb_interest"
                    oninput="updateSkillTotal('climb'); updateInterestPointsUsed();">
            </span>|<span class="atai">
                <input type="number" name="climb_growth" oninput="updateSkillTotal('climb')">
            </span>|<span class="atai">
                <input type="number" name="climb_other" oninput="updateSkillTotal('climb')">
            </span>
        </div>
    </li>

    <li class="d-flex skill-li skill-body">
        <input type="checkbox" name="check-growth" class="check-growth">
        <div class="title">図書館</div>
        <div class="total">
            <input type="number" name="library_use_total" class="readonly _02" readonly>
        </div>
        <div class="breakdown">
            <span class="initial">
                <input type="number" name="library_use_initial" class="readonly _02" readonly value="25">
            </span>|<span class="atai">
                <input type="number" name="library_use_job"
                    oninput="updateSkillTotal('library_use'); updateJobPointsUsed();">
            </span>|<span class="atai">
                <input type="number" name="library_use_interest"
                    oninput="updateSkillTotal('library_use'); updateInterestPointsUsed();">
            </span>|<span class="atai">
                <input type="number" name="library_use_growth" oninput="updateSkillTotal('library_use')">
            </span>|<span class="atai">
                <input type="number" name="library_use_other" oninput="updateSkillTotal('library_use')">
            </span>
        </div>
    </li>

    <li class="d-flex skill-li skill-body">
        <input type="checkbox" name="check-growth" class="check-growth">
        <div class="title">目星</div>
        <div class="total">
            <input type="number" name="spot_hidden_total" class="readonly _02" readonly>
        </div>
        <div class="breakdown">
            <span class="initial">
                <input type="number" name="spot_hidden_initial" class="readonly _02" readonly value="25">
            </span>|<span class="atai">
                <input type="number" name="spot_hidden_job"
                    oninput="updateSkillTotal('spot_hidden'); updateJobPointsUsed();">
            </span>|<span class="atai">
                <input type="number" name="spot_hidden_interest"
                    oninput="updateSkillTotal('spot_hidden'); updateInterestPointsUsed();">
            </span>|<span class="atai">
                <input type="number" name="spot_hidden_growth" oninput="updateSkillTotal('spot_hidden')">
            </span>|<span class="atai">
                <input type="number" name="spot_hidden_other" oninput="updateSkillTotal('spot_hidden')">
            </span>
        </div>
    </li>
    <!-- 追加探索技能の動的リスト -->
    <span id="additional-exploration-skills">
        <!-- 動的に追加される探索技能がここに表示されます -->
    </span>

</ul>
<!-- 追加探索技能の管理ボタン -->
<button type="button" onclick="addExplorationSkill()" class="add-btn">
    <i class="fas fa-plus"></i> 探索技能を追加
</button>