<!-- 能力値セクションコンポーネント -->
<div class="scores d-flex">
    <!-- 能力値　-->
    <ul class="basic-score d-flex ul-score">
        <li class="name">
            <div class="score-sum"></div>
            <ul class="score-detail">
                <li class="initial">基礎能力</li>
                <li class="ages">年齢修正</li>
                <li>他増減</li>
            </ul>
        </li>
        <!-- STR -->
        <li class="str score-li">
            <h3>STR</h3>
            <div class="score-sum">
                <input type="text" name="str_total" class="readonly" readonly>
            </div>
            <ul class="score-detail">
                <li>
                    <select name="str_base" onchange="updateTotal('str')" class="base-select">
                        <option value="">-</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                        <option value="13">13</option>
                        <option value="14">14</option>
                        <option value="15">15</option>
                        <option value="16">16</option>
                        <option value="17">17</option>
                        <option value="18">18</option>
                    </select>
                </li>
                <li class="ages">
                    <input type="number" name="str_age_mod" oninput="updateTotal('str')">
                </li>
                <li>
                    <input type="number" name="str_other_mod" oninput="updateTotal('str')">
                </li>
            </ul>
        </li>

        <!-- CON -->
        <li class="con score-li">
            <h3>CON</h3>
            <div class="score-sum">
                <input type="text" name="con_total" class="readonly" readonly>
            </div>
            <ul class="score-detail">
                <li>
                    <select name="con_base" onchange="updateTotal('con')" class="base-select">
                        <option value="">-</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                        <option value="13">13</option>
                        <option value="14">14</option>
                        <option value="15">15</option>
                        <option value="16">16</option>
                        <option value="17">17</option>
                        <option value="18">18</option>
                    </select>
                </li>
                <li class="ages">
                    <input type="number" name="con_age_mod" oninput="updateTotal('con')">
                </li>
                <li>
                    <input type="number" name="con_other_mod" oninput="updateTotal('con')">
                </li>
            </ul>
        </li>

        <!-- POW -->
        <li class="pow score-li">
            <h3>POW</h3>
            <div class="score-sum">
                <input type="text" name="pow_total" class="readonly" readonly>
            </div>
            <ul class="score-detail">
                <li>
                    <select name="pow_base" onchange="updateTotal('pow')" class="base-select">
                        <option value="">-</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                        <option value="13">13</option>
                        <option value="14">14</option>
                        <option value="15">15</option>
                        <option value="16">16</option>
                        <option value="17">17</option>
                        <option value="18">18</option>
                    </select>
                </li>
                <li class="ages">
                    <input type="number" name="pow_age_mod" oninput="updateTotal('pow')">
                </li>
                <li>
                    <input type="number" name="pow_other_mod" oninput="updateTotal('pow')">
                </li>
            </ul>
        </li>

        <!-- DEX -->
        <li class="dex score-li">
            <h3>DEX</h3>
            <div class="score-sum">
                <input type="text" name="dex_total" class="readonly" readonly>
            </div>
            <ul class="score-detail">
                <li>
                    <select name="dex_base" onchange="updateTotal('dex')" class="base-select">
                        <option value="">-</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                        <option value="13">13</option>
                        <option value="14">14</option>
                        <option value="15">15</option>
                        <option value="16">16</option>
                        <option value="17">17</option>
                        <option value="18">18</option>
                    </select>
                </li>
                <li class="ages">
                    <input type="number" name="dex_age_mod" oninput="updateTotal('dex')">
                </li>
                <li>
                    <input type="number" name="dex_other_mod" oninput="updateTotal('dex')">
                </li>
            </ul>
        </li>

        <!-- APP -->
        <li class="app score-li">
            <h3>APP</h3>
            <div class="score-sum">
                <input type="text" name="app_total" class="readonly" readonly>
            </div>
            <ul class="score-detail">
                <li>
                    <select name="app_base" onchange="updateTotal('app')" class="base-select">
                        <option value="">-</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                        <option value="13">13</option>
                        <option value="14">14</option>
                        <option value="15">15</option>
                        <option value="16">16</option>
                        <option value="17">17</option>
                        <option value="18">18</option>
                    </select>
                </li>
                <li class="ages">
                    <input type="number" name="app_age_mod" oninput="updateTotal('app')">
                </li>
                <li>
                    <input type="number" name="app_other_mod" oninput="updateTotal('app')">
                </li>
            </ul>
        </li>

        <!-- SIZ -->
        <li class="siz score-li">
            <h3>SIZ</h3>
            <div class="score-sum">
                <input type="text" name="siz_total" class="readonly" readonly>
            </div>
            <ul class="score-detail">
                <li>
                    <select name="siz_base" onchange="updateTotal('siz')" class="base-select">
                        <option value="">-</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                        <option value="13">13</option>
                        <option value="14">14</option>
                        <option value="15">15</option>
                        <option value="16">16</option>
                        <option value="17">17</option>
                        <option value="18">18</option>
                    </select>
                </li>
                <li class="ages">
                    <input type="number" name="siz_age_mod" oninput="updateTotal('siz')">
                </li>
                <li>
                    <input type="number" name="siz_other_mod" oninput="updateTotal('siz')">
                </li>
            </ul>
        </li>

        <!-- INT -->
        <li class="int score-li">
            <h3>INT</h3>
            <div class="score-sum">
                <input type="text" name="int_total" class="readonly" readonly>
            </div>
            <ul class="score-detail">
                <li>
                    <select name="int_base" onchange="updateTotal('int')" class="base-select">
                        <option value="">-</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                        <option value="13">13</option>
                        <option value="14">14</option>
                        <option value="15">15</option>
                        <option value="16">16</option>
                        <option value="17">17</option>
                        <option value="18">18</option>
                    </select>
                </li>
                <li class="ages">
                    <input type="number" name="int_age_mod" oninput="updateTotal('int')">
                </li>
                <li>
                    <input type="number" name="int_other_mod" oninput="updateTotal('int')">
                </li>
            </ul>
        </li>

        <!-- EDU -->
        <li class="edu score-li">
            <h3>EDU</h3>
            <div class="score-sum">
                <input type="text" name="edu_total" class="readonly" readonly>
            </div>
            <ul class="score-detail">
                <li>
                    <select name="edu_base" onchange="updateTotal('edu')" class="base-select">
                        <option value="">-</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                        <option value="13">13</option>
                        <option value="14">14</option>
                        <option value="15">15</option>
                        <option value="16">16</option>
                        <option value="17">17</option>
                        <option value="18">18</option>
                        <option value="19">19</option>
                        <option value="20">20</option>
                        <option value="21">21</option>
                    </select>
                </li>
                <li class="ages">
                    <input type="number" name="edu_age_mod" oninput="updateTotal('edu')">
                </li>
                <li>
                    <input type="number" name="edu_other_mod" oninput="updateTotal('edu')">
                </li>
            </ul>
        </li>
    </ul>
    <!-- 基礎スペック　-->
    <ul class="calc-score d-flex ul-score">
        <li class="name sp-only">
            <div class="score-sum"></div>
            <ul class="score-detail">
                <li>基礎能力</li>
                <li class="ages">年齢修正</li>
                <li>他増減</li>
            </ul>
        </li>
        <li class="san score-li">
            <h3>初期SAN</h3>
            <div class="score-sum">
                <input type="text" name="san_total" class="readonly" readonly>
            </div>
            <ul class="score-detail">
                <li class="initial">
                    <input type="text" name="san_base_value" class="readonly _02" readonly>
                </li>
                <li class="ages">
                    -
                </li>
                <li>
                    <input type="number" name="san_other_mod" oninput="updateDerivedTotal('san')">
                </li>
            </ul>
        </li>
        <li class="hp score-li">
            <h3>HP</h3>
            <div class="score-sum">
                <input type="text" name="hp_total" class="readonly" readonly>
            </div>
            <ul class="score-detail">
                <li class="initial">
                    <input type="text" name="hp_base_value" class="readonly _02" readonly>
                </li>
                <li class="ages">
                    -
                </li>
                <li>
                    <input type="number" name="hp_other_mod" oninput="updateDerivedTotal('hp')">
                </li>
            </ul>
        </li>
        <li class="mp score-li">
            <h3>MP</h3>
            <div class="score-sum">
                <input type="text" name="mp_total" class="readonly" readonly>
            </div>
            <ul class="score-detail">
                <li class="initial">
                    <input type="text" name="mp_base_value" class="readonly _02" readonly>
                </li>
                <li class="ages">
                    -
                </li>
                <li>
                    <input type="number" name="mp_other_mod" oninput="updateDerivedTotal('mp')">
                </li>
            </ul>
        </li>
        <li class="idea score-li">
            <h3>アイデア</h3>
            <div class="score-sum">
                <input type="text" name="idea_total" class="readonly" readonly>
            </div>
            <ul class="score-detail">
                <li class="initial">
                    <input type="text" name="idea_base_value" class="readonly _02" readonly>
                </li>
                <li class="ages">
                    -
                </li>
                <li>
                    <input type="number" name="idea_other_mod" oninput="updateDerivedTotal('idea')">
                </li>
            </ul>
        </li>
        <li class="luck score-li">
            <h3>幸運</h3>
            <div class="score-sum">
                <input type="text" name="luck_total" class="readonly" readonly>
            </div>
            <ul class="score-detail">
                <li class="initial">
                    <input type="text" name="luck_base_value" class="readonly _02" readonly>
                </li>
                <li class="ages">
                    -
                </li>
                <li>
                    <input type="number" name="luck_other_mod" oninput="updateDerivedTotal('luck')">
                </li>
            </ul>
        </li>
        <li class="knowledge score-li">
            <h3>知識</h3>
            <div class="score-sum">
                <input type="text" name="knowledge_total" class="readonly" readonly>
            </div>
            <ul class="score-detail">
                <li class="initial">
                    <input type="text" name="knowledge_base_value" class="readonly _02" readonly>
                </li>
                <li class="ages">
                    -
                </li>
                <li>
                    <input type="number" name="knowledge_other_mod" oninput="updateDerivedTotal('knowledge')">
                </li>
            </ul>
        </li>
    </ul>
</div>