<!-- 特徴表　-->
<div class="features">
    <ul>
        <li class="d-flex f-list" style="border-color:<?php the_field('txt-color'); ?>;">
            <div class="f-label" style="color:<?php the_field('txt-color'); ?>;"><span class="num">0-0</span><span
                    class="name">特徴名</span></div>
            <div class="contents">特徴表説明</div>
        </li>
    </ul>
    <div class="d-flex job-base">
        <div><span>ベース</span>
            (職業名)
        </div>
        <div><span>特　記</span>
            (特記事項)
        </div>
    </div>
</div>