// Scss Document

/*common
---------------------------------------------------*/
* {
  box-sizing: border-box;
}
body {
  background-color: #ececec;
  font-size: 100%;
  line-height: 1.8;
  color: #57595d;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  position: relative;
}
#content {
  margin: 4em 0;
}
.wrap {
  width: 96%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  @media only screen and (min-width: 768px) {
    width: 760px;
  }
  @media only screen and (min-width: 1030px) {
    width: 1040px;
  }
}
main#main {
  flex: 1;
  max-width: 100%;
}
/* Chrome, Safari, Edge 対応 */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox 対応 */
input[type="number"] {
  -moz-appearance: textfield;
}
/*form
---------------------------------------------------*/
.character-input {
  input,
  .base-select,
  textarea {
    width: 100%;
    border: none;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5) inset;
    border-radius: 2px;
    text-align: center;
    background: #ececec;
    height: 25px;
  }
  textarea {
    height: auto;
    resize: vertical;
    max-width: 100%;
  }
  .base-select {
    background: #fff;
    padding: 5px 0;
  }
  .initial {
    padding: 4px 0;
  }
  .readonly {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: #e5e5e5;
    color: #888;
    border: none;
    box-shadow: none;
    text-align: center;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.6;
    padding: 0;
    pointer-events: none;
    &._02 {
      color: #aaa;
      background: #ececec;
      font-size: 0.8rem;
      line-height: 1;
      font-weight: 400;
    }
  }
  .total .readonly._02 {
    font-size: 1rem;
    color: #57595d;
  }
  .slot-txt .readonly._02 {
    font-size: 1rem;
    font-weight: 600;
    color: #57595d;
  }
  .slot-txt span .readonly._02 {
    font-size: 0.8rem;
    font-weight: 400;
    color: #888;
  }
  .slot .slot-txt {
    text-align: center;
  }
  .db .slot-txt {
    text-align: center;
    display: flex;
    height: 100%;
    align-items: center;
  }

  .now-san .slot-txt {
    text-align: center;
    display: flex;
    height: 100%;
    align-items: center;
  }

  .current_san,
  .nterest_points_extra {
    width: 5ch;
  }
  .max_san {
    width: 2ch;
  }

  .chara-seet .scores .ul-score .score-detail li {
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .chara-seet .scores .ul-score .score-li {
    width: 69.5px;
  }

  .chara-seet .scores .ul-score .score-sum {
    padding: 0;
  }
  .chara-seet .skill .skill-li .breakdown span {
    width: 17%;
  }
  .chara-seet .skill {
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .chara-seet .features {
    margin: 0 0 3%;
  }
  .chara-seet .data-wrap .data-li .kosu {
    width: 75px;
  }
  .job-point,
  .interest-point {
    background: #ddd;
    border: none;
    padding: 5px 10px;
    color: #888888;
    font-size: 0.8rem;
    display: block;
  }
  .interest-point {
    padding: 2px 10px;
    input {
      height: 23px;
    }
  }
  .add-slill-li .title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    @media only screen and (min-width: 768px) and (max-width: 1023px) {
      padding: 0 2px;
    }
  }
  .add-btn {
    border: solid 1px #aaaaaa;
    color: #aaa;
    border-radius: 100px;
    margin: 5px 0 0 auto;
    cursor: pointer;
    transition: all 0.3s;
    justify-content: center;
    display: flex;
    align-items: center;
    width: 160px;
    &:hover {
      background: #e2e2e2;
    }
  }
  .remove-btn {
    border-radius: 50%;
    border: solid 1px #aaa;
    color: #aaa;
    justify-content: center;
    padding: 0;
    width: 15px;
    height: 15px;
    transition: all 0.3s;
    font-size: 0.8em;
    cursor: pointer;
    &:hover {
      background: #e2e2e2;
    }
  }
  .check-growth {
    width: auto;
    box-shadow: none;
    margin: 0 3.2%;
  }
  .chara-seet .skill .skill-body .title {
    border-left: solid 1px #ccc;
  }
  .chara-seet .skill .skill-li .title {
    width: 30%;
    font-size: 0.8rem;
  }
  .growth {
    width: 8.5%;
    border-right: solid 1px #ccc;
  }
  .free {
    max-width: 100px;
    width: 100%;
    @media only screen and (max-width: 1029px) {
      width: 80%;
    }
  }
}
/*charaseet
---------------------------------------------------*/
li {
  list-style: none;
}

.d-flex {
  display: flex;
}

.sp-only {
  display: none;
  @media only screen and (max-width: 1029px) {
    display: block;
  }
}
@media only screen and (max-width: 1029px) {
  .pc-only {
    display: none;
  }
}

.chara-seet {
  font-size: 0.8rem;
  font-family: "Kosugi";

  ul {
    margin: 0;
    padding: 0;
  }

  h3 {
    font-family: "Varela Round", "Kosugi", sans-serif;
  }

  .job-base {
    flex-wrap: wrap;
    > div {
      margin-right: 15px;
    }
    span {
      background: #ddd;
      border-radius: 100px;
      padding: 2px 10px;
      margin-right: 5px;
    }
  }

  .scores {
    flex-wrap: wrap;
    font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Oxygen,
      Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, Helvetica, Arial,
      sans-serif;

    .ul-score {
      align-items: flex-end;
      margin-bottom: 20px;
      @media only screen and (max-width: 1029px) {
        width: 100%;
      }

      .score-sum {
        background: rgba(255, 255, 255, 0.5);
      }

      li {
        text-align: center;
      }

      .score-li {
        width: 67px;
        margin: 0 0.5px;
        @media only screen and (max-width: 1029px) {
          flex: 1 1 10%;
          width: auto;
        }
      }

      h3 {
        font-size: 0.8rem;
        font-weight: 400;
        margin: 0;
        background: #aaa;
        color: #fff;
        border-radius: 4px 4px 0 0;
        line-height: 1.6;
        @media only screen and (max-width: 768px) {
          font-size: 0.7rem;
        }
      }

      li.name {
        border-right: solid 1px #ccc;
        font-family: "Kosugi";
        .score-sum {
          background: none;
          padding: 0;
        }

        h3 {
          padding: 10px 0 0;
          color: #aaa;
          background: none;
        }
      }

      .score-sum {
        font-size: 1rem;
        font-weight: 600;
        line-height: 1.6;
        padding-bottom: 2px;
        background: #e5e5e5;
      }

      .score-detail {
        border-top: solid 1px #aaa;

        li {
          min-height: 10px;
          border-bottom: solid 1px #d2d2d2;
          color: #aaa;
          min-height: 21px;
          margin: 0;
          line-height: 1.5;
        }
      }

      &.calc-score {
        .score-sum {
          background: #e5e5e5;
          color: #888;
        }
      }
    }
  }

  .slots {
    margin: 5px 0;
    flex-wrap: wrap;
    justify-content: flex-end;
    @media only screen and (max-width: 1029px) {
      justify-content: space-between;
    }

    h3 {
      margin: 0;
      position: absolute;
      transform: translateY(-17px);
      background: #ececec;
      padding: 0 10px;
      font-size: 0.7rem;
      color: #888;
      font-weight: 500;
    }
    .slot {
      border-radius: 4px;
      width: calc(20% - 5px);
      margin-right: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;
      border: solid 1px #ccc;
      padding: 5px 0;
      box-shadow: 0 0 4px 1px rgb(0 0 0 / 7%) inset;
      @media only screen and (max-width: 1029px) {
        width: calc(25% - 10px);
        margin: 0;
      }
      @media only screen and (max-width: 768px) {
        width: calc(50% - 5px);
        margin-bottom: 15px;
      }
    }
    .slot-txt {
      font-size: 1rem;
      font-weight: 600;
      font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, Helvetica,
        Arial, sans-serif;
      @media only screen and (max-width: 768px) {
        text-align: center;
        line-height: 1.2;
        margin-top: 1px;
      }
      span {
        font-size: 0.8rem;
        font-weight: 400;
        color: #888;
      }
    }
  }

  .features {
    margin: 3% 0;
    @media only screen and (max-width: 768px) {
      margin: 5% 0;
    }
    .f-list {
      align-items: center;
      line-height: 1.5;
      padding: 0px;
      border-left: solid 2px;
      margin-bottom: 15px;
      @media only screen and (max-width: 768px) {
        flex-wrap: wrap;
        margin-bottom: 20px;
      }
      .f-label {
        width: 28%;
        @media only screen and (max-width: 1029px) {
          width: 35%;
        }
        @media only screen and (max-width: 768px) {
          width: 100%;
        }
        .num {
          padding: 4px 10px;
          font-weight: 600;
        }
        .name {
          padding: 2px 0;
          font-weight: 600;
          width: 79%;
          display: inline-block;
          font-size: 0.9rem;
          text-align: center;
          @media only screen and (max-width: 768px) {
            text-align: left;
          }
        }
      }
      .contents {
        width: 100%;
        border-left: solid 1px #ccc;
        padding-left: 10px;
        @media only screen and (max-width: 768px) {
          border: none;
        }
      }
    }
  }

  .skill {
    ul {
      margin: 0;
      padding: 0;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    .skill-group {
      textarea {
        min-height: 200px;
        border: none;
        box-shadow: 0 0 6px rgb(0 0 0 / 25%) inset;
        background: rgba(255, 255, 255, 0.4);
        max-width: 100%;
        line-height: 1.5em;
        display: block;
        padding: 0 12px;
        font-size: 1em;
        color: #57595d;
        border-radius: 3px;
        vertical-align: middle;
        width: 100%;
        overflow: auto;
        margin: 0 0 14px;
      }
      width: calc(50% - 8px);
      margin-bottom: 20px;
      h3 {
        margin: 0 0 3px;
        background: #ddd;
        padding: 3px 10px 0;
        color: #666;
        font-size: 0.9rem;
        line-height: 1.5;
        font-weight: 400;
      }
      @media only screen and (max-width: 768px) {
        width: 100%;
      }
    }
    .skill-head {
      border-bottom: solid 2px #ccc;
      color: #999;
      font-size: 0.6rem;
      line-height: 1.4;
    }
    .skill-li {
      text-align: center;
      align-items: center;
      margin: 0;
      .title {
        width: 40%;
      }
      .total {
        width: 10%;
        border-left: solid 1px #ccc;
        border-right: solid 1px #ccc;
      }
      .breakdown {
        width: 50%;
        span {
          display: inline-block;
          min-width: 17%;
          &.sp-only {
            display: none;
          }
          @media only screen and (max-width: 768px) {
            &.sp-only {
              display: inline-block;
            }
            &.pc-only {
              display: none;
            }
          }
        }
      }
    }
    .skill-body {
      padding: 3px 0;
      border-bottom: solid 2.5px #ddd;
      .title {
        font-size: 0.9rem;
      }
      .total {
        font-size: 1rem;
      }
      .breakdown {
        color: #aaa;
        .initial {
          color: #aaa;
        }
        .atai {
          color: #777;
        }
      }
    }
  }
  .data-wrap {
    margin-bottom: 2%;
    @media only screen and (max-width: 768px) {
      margin-bottom: 4%;
    }
    h3 {
      margin: 0;
      font-weight: 400;
      font-size: 0.9rem;
    }
    .data-li {
      justify-content: space-between;
      border-left: solid 2px #aaa;
      padding: 3px 0;
      margin: 0;
      margin-bottom: 3px;
      background: rgba(255, 255, 255, 0.4);
      box-shadow: 0 0 5px rgb(0 0 0 / 10%);
      @media only screen and (max-width: 768px) {
        flex-wrap: wrap;
      }
      div {
        padding: 0 10px;
      }
      div:not(:last-of-type) {
        border-right: solid 1px #ccc;
      }
      .title {
        text-align: center;
        width: 0 1 20%;
        border-right: solid 1px #ccc;
        min-width: 170px;
        display: flex;
        align-items: center;
        justify-content: center;
        @media only screen and (max-width: 768px) {
          width: 100%;
          display: block;
          border: none;
          border-bottom: solid 1px #ccc;
          text-align: left;
          padding: 3px 10px;
        }
      }
      .content,
      .memo {
        flex: 1 1 auto;
        border: none;
      }
      .memo {
        max-width: 435px;
        @media only screen and (max-width: 768px) {
          max-width: none;
        }
      }
      .term {
        min-width: 175px;
        text-align: center;
        display: flex;
        align-items: center;
        @media only screen and (max-width: 768px) {
          flex: 1 0 auto;
        }
      }

      .label {
        font-size: 0.5rem;
        display: block;
        color: #aaa;
        border-bottom: solid 1px #ddd;
      }
      .kosu {
        min-width: 50px;
        text-align: center;
      }
    }
    &.af,
    &.jumon {
      .content {
        flex: 1 0 80%;
      }
    }
    &.o-memo:first-child {
      margin-top: 5%;
    }
    .o-memos {
      padding: 10px;
    }
    .memo-title {
      border-bottom: solid 1px #ccc;
    }
    &.buki {
      @media only screen and (max-width: 768px) {
        .memo {
          width: 100%;
          border-top: solid 1px #ccc;
        }
        .taikyu {
          border: none;
        }
        .kazu {
          flex: 1 0 5%;
        }
        .damage {
          flex: 1 0 20%;
        }
      }
      .kazu {
        width: 5%;
        text-align: center;
        min-width: 42px;
      }
      .damage {
        width: 10%;
        text-align: center;
        min-width: 42px;
      }
    }
  }
}
.acd-check {
  display: none;
}
.acd-label {
  position: relative;
}
.cs-title {
  color: #333;
  border-radius: 100px;
  padding: 5px 40px 5px 20px;
  margin: 3% 0 3% auto;
  display: block;
  width: 210px;
  transition: all 0.3s;
  border: solid 2px #333;
  cursor: pointer;
  @media only screen and (max-width: 768px) {
    margin: 3% auto;
  }
}
.cs-title:hover {
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  opacity: 0.6;
}
.acd-label:after {
  box-sizing: border-box;
  content: "\f067";
  display: block;
  font-family: "Font Awesome 5 Free";
  position: absolute;
  right: 15px;
  top: 5px;
  font-weight: 600;
}
.acd-content {
  margin-bottom: 5%;
  height: 0;
  opacity: 0;
  transition: 0.5s;
  display: none;
}
.acd-check:checked + .acd-label + .acd-content {
  margin: 0 0 5%;
  height: auto;
  opacity: 1;
  display: block;
  &.chara-seet {
    @media only screen and (max-width: 768px) {
      margin-top: 8%;
    }
  }
}
.acd-check:checked + .cs-title {
  background: #333;
  color: #fff;
}
.acd-check:checked + .acd-label:after {
  content: "\f068";
}
#coco-btn {
  -webkit-appearance: none;
  cursor: pointer;
  border: none;
  background: #666;
  padding: 10px 15px;
  color: #fff;
  border-radius: 100px;
  display: block;
  margin: 0 0 0 auto;
  transition: all 0.3s;
  &:hover {
    opacity: 0.6;
  }
}
.more-secret {
  display: block;
  transition: all 0.3s;
  cursor: pointer;
  border-bottom: dotted 1px;
  width: 150px;
  padding: 3px 10px;
  color: #888;
  font-size: 0.9rem;
  margin-bottom: 10px;
}
